body {
    background-color: #EFEFEF;
}

h1 {
    color: white;
    margin: 0 0 10px 0;
    padding: 2em 1em;
}

.description {
    text-align: center;
}

.cinema {
    background-image: url('../images/cinema.jpg');
    background-size: cover;
    margin-top: 58px;
}

.cinema-small {
    background-image: url('../images/cinema.jpg');
    background-size: cover;
    padding: 1em 1em;
    margin-top: 58px;
}

.top-bar {
    background-color: #303030;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

nav li {
    background-color: #303030;
}

nav h2 {
    color: white;
    display: inline-block;
    font-size: 1.5em;
    padding: 0 0 0 1em;
    transform: translateY(4px);
}

.menu-icon.light::after {
    background: #efefef;
    box-shadow: 0 7px 0 #efefef, 0 14px 0 #efefef;
}

.film-image {
    display: block;
    margin: auto;
    padding-bottom: 10px;
}

.film-image-tile {
    display: block;
    margin: auto;
    padding-bottom: 10px;
    transition: all 0.4s;
}

.film-image-tile:hover {
    transform: scale(1.02);
}

.description {
    padding-bottom: 10px;
}

.elite {
    padding-top: 10px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s;
}

.elite:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.film-listing {
    padding-top: 60px;
}

.back-link {
    color: black;
}

.back-link:hover {
    color: #303030;
}

.book-link {
    color: black;
    text-decoration: underline;
    background-color: #AAAAAA;
    padding: 5px;
}

.book-link:hover {
    color: #303030;
}

tr a {
    color: black;
}

tr a:hover {
    color: #303030;
}

form {
    margin-bottom: 10px;
}

article h4 {
    margin: 8px 0 0 0;
}

footer {
    height: 3em;
    background-color: #303030;
    text-align: center;
    margin-top: 10px;
}

footer img {
    height: 50%;
    position: relative;
    top: 50%;
    padding: 0 5px;
    transform: translateY(-50%);
    transition: all 0.2s;
}


footer img:hover {
    transform: scale(1.2) translateY(-50%);
}

.grey {
    background-color: #303030;
}

.grey:hover {
    background-color: #606060;
}

.booking-label {
    padding: 0;
}